<div class="game-container">
    <!-- Game Map -->
    <div class="map">
      <div 
        *ngFor="let row of map; let y = index">
        <div 
          *ngFor="let tile of row; let x = index"
          [ngStyle]="getTileStyle(x, y)"
          (click)="onTileClick(x, y)">
        </div>
      </div>
    </div>
  
    <!-- Player -->
    <div class="player" [ngStyle]="getPlayerStyle()"></div>
  
    <!-- HUD (Tobacco Count) -->
    <div *ngIf="showHUD" class="stats">
      <p> Health: {{ health }} |</p>
      <p> | Money: {{ money }}</p>
    </div>

    <div class="inventory" *ngIf="buildMode">
      <div *ngFor="let item of inventoryItems" class="inventory-slot" (click)="selectTile(item.type)">
        <img class="inventory-icon" [src]="item.icon" [alt]="item.name">
      </div>
    </div>
    
        

  </div>
  